@import "./theme";

body {
  font-family: $font-p;
  background-color: $light;
  font-size: 12pt;
  margin: 0;
  main,
  footer {
    position: relative;
    top: $header-height;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

a {
  color: $dark;
  text-decoration: none;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

::selection {
  background-color: $primary;
}

.container {
  margin: auto;
  width: 65vw;
  min-width: 500px;
}

.container-v-spacing {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.min-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link--active {
  color: $primary;
}

.section__title {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
}

.btn-primary {
  color: $light;
  background-color: $dark;
  &:hover {
    background-color: $light;
    color: $dark;
    border: 1px solid $dark;
  }
}
