// Colors
$primary: #ff3366;
$light: #e1e0df;
$dark: #000;
$light-secondary: #fff;
$dark-secondary: #424b5a;

// Fonts
$font-heading: "Lora", serif;
$font-p: "Open Sans", sans-serif;

// Sizes
$header-height: 80px;
$hero-title: 2.5rem;
$hero-subtitle: 1.3rem;